name: Web CI/CD Workflow

on: 
  push:
    branches: 
      - developpe
    paths:
      - 'front/**'
  pull_request:
    branches: 
      - main
    paths:
      - 'front/**'

jobs:
  build-and-test-web-with-coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Node for Web project
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: front/package-lock.json
    - name: Install dependencies for front project
      run: npm ci
      working-directory: front
      
    - name: Build front project
      run: npm run build --if-present
      working-directory: front
 
    - name: Run test with coverage
      working-directory: front
      run: npm run test -- --code-coverage --browsers=ChromeHeadless --watch=false
      
    - name: Commit Coverage Report
      run: |
        git config --global user.email "mvouyorick@gmail.com"
        git config --global user.name "GitHub Actions"
        git fetch
        git pull origin developpe
        mkdir -p coverage-repport/front
        cp -r front/coverage/bobapp/* ./coverage-repport/front
        git add ./coverage-repport/front
        git commit -m "Update Coverage Reports"
        git push origin developpe
    env:
     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  sonarqube_scan:
    name: Run SonarQube Scanner
    needs: build-and-test-web-with-coverage
    runs-on: [self-hosted, macOS, X64]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup Node for Web project
        uses: actions/setup-node@v4
        with:
         node-version: '20'
      - name: Install SonarQube Scanner
        run: npm install -g sonarqube-scanner
      - name: Run SonarQube Scanner
        run:   sonar-scanner    -Dsonar.typescript.lcov.reportPaths=coverage/lcov.info \ -Dsonar.projectKey=ci-cd -Dsonar.projectName='ci-cd' --file back/pom.xml
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
